version: '3'
services:
  CATAGORY-NAME:
    image: 'omniverse/CATAGORY-NAME:VERSION'
    volumes:
      - './config/:/opt/omniverse/node/config/'
    command:
      - 'npm run start'
    logging:
      driver: json-file
      options:
        max-size: 500m
    container_name: CATAGORY-NAME