version: '3'
services:
  CATAGORY-NAME:
    image: 'omniverse/CATAGORY-NAME:VERSION'
    network_mode: host
    volumes:
      - '/opt/omniverse/node/CATAGORY/NAME/VERSION/config/.secret:/opt/omniverse/node/config/.secret'
    command:
      - 'npm run start'
    logging:
      driver: json-file
      options:
        max-size: 500m
    container_name: CATAGORY-NAME